#training-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  font-size: 1.2rem;
}

#load-container {
  /* position: relative; */
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.11);
}

#action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#training-load {
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
